.App {
  text-align: center;
}

.Card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 0 20px;
}
.Cards {
  padding: 20px;
  text-align: justify;
  background-color: #f1f8f8;
  margin: 2%;
  width: 26%;
  border-radius: 50px 0px;
  box-shadow:  5px 5px 10px rgba(128, 128, 128, 0.37);
}

.Card__title {
  text-align: center;
}
.Card__img {
  width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 5px 5px;
}
.Card__author {
  font-size: 14px;
  color: #282c34;
  margin-top: 50px;
}
.Card__tag {
  list-style-type: none;
  display: inline-block;
  padding: 3px 10px;
  margin: 0 5px 0 0;
  background-color: lavender;
  border: 1px solid cadetblue;
  border-radius: 5px 5px;
  font-size: 14px;
  color: #282c34;
  cursor: pointer;
  transition: ease 300ms all;
}
.Card__tag:hover{
  background-color: cadetblue;
  color: white;
}
